<div class="container-fluid">
  <form action="" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

    <div class="row d-flex justify-content-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-justify"  *ngIf="!is_edit">Crea una cuenta</h1>
          <p  *ngIf="!is_edit">Para un pago rápido, fácil acceso a pedidos anteriores, y la capacidad de crear una libreta de direcciones
            y
            configuraciones de la tienda. Regístrese a continuación.</p>
            <h1 class="text-justify"  *ngIf="is_edit">Edita tu Perfil</h1>
            <p  *ngIf="is_edit">Para un pago rápido, fácil acceso a pedidos anteriores, mantenga sus datos Actualizados.</p>
        </div>
      </div>
      <div class="col-md-4 ms-3">
        <div class="mb-2">
          <label for="name" class="form-label"><strong>NOMBRE</strong></label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required
            pattern="[a-zA-Z \u00f1\u00d1\u00E0-\u00FC]+">
          <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            Campo Nombre no Valido.!
          </small>

        </div>
        <div class="mb-2">
          <label for="surname" class="form-label"><strong>APELLIDO</strong></label>
          <input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required
            pattern="[a-zA-Z \u00f1\u00d1\u00E0-\u00FC]+">
          <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
            Campo Apellido no Valido.!
          </small>

        </div>
        <div class="mb-2">
          <label for="phone" class="form-label"><strong>TELEFONO</strong></label>
          <input type="text" class="form-control" name="phone" #phone="ngModel" [(ngModel)]="user.phone"
            pattern="^[0-9]+">
          <small *ngIf="!phone.valid" class="invalid-feedback d-block">
            Campo telefono permite solo numeros.
          </small>
        </div>

      </div>
      <div class="col-md-4 ">
        <div class="mb-2 ps-5">
          <label for="name" class="form-label"><strong>IMAGEN</strong></label><br>
            <img src="{{url+'user/avatar/'+user.image}}" class="avatar"  *ngIf="is_edit && user.image"/>
            <img src="assets/user-holder.png" class="avatar"  *ngIf="!is_edit"/>
        </div>
        <div class="row">
          <div class="col-8"  *ngIf="is_edit && user.image">
            <label class="btn btn-default p-0">
              <input type="file" (change)="selectFile($event)" />
            </label>
          </div>
        </div>
        <div *ngIf="currentFile" class="progress my-3">
          <div
            class="progress-bar progress-bar-info"
            role="progressbar"
            attr.aria-valuenow="{{ progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
            [ngStyle]="{ width: progress + '%' }"
          >
            {{ progress }}%
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="mb-2">
            <label for="address" class="form-label"><strong>DIRECCION</strong></label>
            <input type="text" class="form-control" name="address" #address="ngModel" [(ngModel)]="user.address">
          </div>
          <div class="mb-2">
            <label for="gender" class="form-label"><strong>SEXO</strong></label>
            <select class="form-select" aria-label="Default select example" name="gender" #sex="ngModel"
              [(ngModel)]="user.gender">
              <option selected>Seleccion</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
          </div>

        </div>
        <div class="col-md-4">
          <div class="mb-2">
            <label for="email" class="form-label"><strong>EMAIL</strong></label>
            <input type="email" class="form-control" name="email" placeholder="name@example.com" #email="ngModel"
              [(ngModel)]="user.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
              Debe ingresar Formato Valido para correo..!
            </small>
          </div>
          <div class="mb-2">
            <label for="password" class="form-label"><strong>PASSWORD</strong></label>
            <input type="password" name="password" class="form-control" aria-describedby="passwordHelpBlock"
              name="password" #password="ngModel" [(ngModel)]="user.password">
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="row col-md-8 ">
        <div class="d-flex mt-5 justify-content-center">
          <button type="submit" class="btn btn-dark me-3 ms-3" [disabled]="registerForm.invalid">Registrar</button>
          <button type="button" class="btn btn-dark ms-3" [routerLink]="['/inicio']">Cancelar</button>
        </div>

      </div>
    </div>
    <br>
    <br>
    <br>
  </form>
</div>
