<form action="" #registerprod="ngForm" (ngSubmit)="onSubmit(registerprod)">
  <div class="container-fuid">
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-justify" *ngIf="!is_edit">Registrar Productos</h1>
          <h1 class="text-justify" *ngIf="is_edit">Editar Productos</h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-2">
          <label for="name" class="form-label"><strong>NOMBRE</strong></label>
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="product.name" required
            pattern="[a-zA-Z \u00f1\u00d1\u00E0-\u00FC]+">
          <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
            Campo Nombre no Valido.!
          </small>
        </div>
        <div class="mb-2">
          <label for="price" class="form-label"><strong>PRECIO</strong></label>
          <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="product.price"
            pattern="^[0-9.,]+">
          <small *ngIf="!price.valid" class="invalid-feedback d-block">
            Campo telefono permite solo numeros.
          </small>
        </div>
        <div class="mb-2">
          <label for="stock" class="form-label"><strong>STOCK</strong></label>
          <input type="text" class="form-control" name="stock" #stock="ngModel" [(ngModel)]="product.stock"
            pattern="^[0-9]+">
          <small *ngIf="!stock.valid" class="invalid-feedback d-block">
            Campo telefono permite solo numeros.
          </small>
        </div>
        <div class="mb-2">
          <label for="category" class="form-label"><strong>CATEGORIA</strong></label>
          <select class="form-select" aria-label="Default select example" name="category">
            <option selected>Seleccion</option>
            <option value="masculino">Damas</option>
            <option value="femenino">Caballero</option>
          </select>
        </div>
        <div class="mb-2">
          <label for="subcategory_id" class="form-label"><strong>CATEGORIA</strong></label>
          <select class="form-select" aria-label="Default select example" name="subcategory_id"
            #subcategory_id="ngModel" [(ngModel)]="product.subcategory_id">
            <option selected>Seleccion</option>
            <option value="2">franelas</option>
            <option value="2">Correas</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row align-items-center">
          <div class="col-md-3 mb-2 ps-3">
            <label for="name" class="form-label"><strong>IMAGEN</strong></label><br>
            <img src="{{url+'product/image/'+product.image1}}" class="img-product" *ngIf="is_edit && product.image1" />
            <img src="assets/user-holder.png" class="img-product" *ngIf="!product.image1" />
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-12">
                <label class="btn btn-default p-0">
                  <input type="file" (change)="selectFile($event)" />
                </label>

                <div *ngIf="currentFile" class="progress my-3">
                  <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress1 }}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress1 + '%' }">
                    {{ progress1 }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3 mb-2 ps-3">
            <label for="name" class="form-label"><strong>IMAGEN 2</strong></label><br>
            <img src="{{url+'product/image/'+product.image2}}" class="img-product" *ngIf="is_edit && product.image2" />
            <img src="assets/user-holder.png" class="img-product" *ngIf="!product.image2" />
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-12">
                <label class="btn btn-default p-0">
                  <input type="file" (change)="selectFile($event)" />
                </label>

                <div *ngIf="currentFile" class="progress my-3">
                  <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress2 }}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress2 + '%' }">
                    {{ progress2 }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-3 mb-2 ps-3">
            <label for="name" class="form-label"><strong>IMAGEN 3</strong></label><br>
            <img src="{{url+'product/image/'+product.image3}}" class="img-product" *ngIf="is_edit && product.image3" />
            <img src="assets/user-holder.png" class="img-product" *ngIf="!product.image3" />
          </div>
          <div class="col-md-8 ">
            <div class="row">
              <div class="col-12">
                <label class="btn btn-default p-0">
                  <input type="file" (change)="selectFile($event)" />
                </label>

                <div *ngIf="currentFile" class="progress my-3">
                  <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress3 }}"
                    aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress3 + '%' }">
                    {{ progress3 }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row  justify-content-center">
      <div class="col-md-8 ">
        <label for="description" class="form-label"><strong>Descripcion</strong></label><br>
        <quill-editor name="description" #description="ngModel" [(ngModel)]="product.description"></quill-editor>
      </div>
      <br>
      <br>
      <div class="row col-md-8">
        <div class="d-flex mt-5 justify-content-center">
          <button type="submit" class="btn btn-dark me-3 ms-3" [disabled]="registerprod.invalid">Registrar</button>
          <button type="button" class="btn btn-dark ms-3" [routerLink]="['/inicio']">Cancelar</button>
        </div>

      </div>
    </div>
    <br>
    <br>
  </div>
</form>
